In [1]:
from google.cloud import bigquery
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as pyplot

import warnings 
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
client = bigquery.Client()

In [3]:
data_ref = client.dataset("Cardio", project="learnbigquerry")
dataset = client.get_dataset(data_ref)
table = dataset.table("Cardio_train")

In [4]:
query = """
SELECT * 
FROM learnbigquerry.Cardio.Cardio_train
 """

query_job = client.query(query)
results = query_job.to_dataframe()

results.to_csv("Cardio.csv", index=False)

In [5]:
df  = pd.read_csv("Cardio.csv", delimiter=";")
df

C:\Users\USER\AppData\Local\Temp\ipykernel_14460\3562787214.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df  = pd.read_csv("Cardio.csv", delimiter=";")

                                                                                string_field_0
id    age   gender height weight ap_hi ap_lo cholesterol gluc smoke alco active         cardio
0     18393 2      168    62.0   110   80    1           1    0     0    1                   0
1     20228 1      156    85.0   140   90    3           1    0     0    1                   1
2     18857 1      165    64.0   130   70    3           1    0     0    0                   1
3     17623 2      169    82.0   150   100   1           1    0     0    1                   1
...                                                                                        ...
99993 19240 2      168    76.0   120   80    1           1    1     0    1                   0
99995 22601 1      158    126.0  140   90    2           2    0     0    1                   1
99996 19066 2      183    105.0  180   90    3           1    0     1    0                   1
99998 22431 1      163    72.0   135   80    1           2    0     0    0                   1
99999 20540 1      170    72.0   120   80    2           1    0     0    1                   0

[70001 rows x 1 columns]

In [6]:

dfo = df
dfo.to_csv("Nc.csv", index=True, encoding='utf-8')

In [7]:
columns_names = ["Id", "Age", "Gender", "Height", "Weight", "Systolic", "Diastolic",
                  "Cholesterol", "Glucose", "Smoking", "Alchohol", "Active", "Cardio"]
cardio = pd.read_csv("Nc.csv", names=columns_names)

C:\Users\USER\AppData\Local\Temp\ipykernel_14460\1619205801.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  cardio = pd.read_csv("Nc.csv", names=columns_names)

In [9]:
cardio.head(5)

,Id,Age,Gender,Height,Weight,Systolic,Diastolic,Cholesterol,Glucose,Smoking,Alchohol,Active,Cardio
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,string_field_0
1,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
2,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
3,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
4,2,18857,1,165,64.0,130,70,3,1,0,0,0,1

In [10]:
cardio = cardio.drop([0, 1], axis=0)

In [11]:
cardio = cardio.set_index("Id")
cardio

,Age,Gender,Height,Weight,Systolic,Diastolic,Cholesterol,Glucose,Smoking,Alchohol,Active,Cardio
Id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [12]:
# to convert Age in days to years
cardio["Age"]= cardio["Age"].astype(float)
cardio["Age"] = cardio["Age"]/365.25
cardio["Age"] = cardio.Age.round().astype(int)

In [13]:
# Converting Height to Meters
cardio["Height"] = cardio["Height"].astype(int)
cardio["Height in Meters"] = cardio["Height"] / 100

In [14]:
# to calculate and store BMI 
cardio["Weight"] = cardio["Weight"].astype(float)
cardio["BMI"] = cardio["Weight"] / (cardio["Height in Meters"] * cardio["Height in Meters"])

In [15]:
cardio

,Age,Gender,Height,Weight,Systolic,Diastolic,Cholesterol,Glucose,Smoking,Alchohol,Active,Cardio,Height in Meters,BMI
Id,,,,,,,,,,,,,,
0,50,2,168,62.0,110,80,1,1,0,0,1,0,1.68,21.967120
1,55,1,156,85.0,140,90,3,1,0,0,1,1,1.56,34.927679
2,52,1,165,64.0,130,70,3,1,0,0,0,1,1.65,23.507805
3,48,2,169,82.0,150,100,1,1,0,0,1,1,1.69,28.710479
4,48,1,156,56.0,100,60,1,1,0,0,0,0,1.56,23.011177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99993,53,2,168,76.0,120,80,1,1,1,0,1,0,1.68,26.927438
99995,62,1,158,126.0,140,90,2,2,0,0,1,1,1.58,50.472681
99996,52,2,183,105.0,180,90,3,1,0,1,0,1,1.83,31.353579
99998,61,1,163,72.0,135,80,1,2,0,0,0,1,1.63,27.099251
99999,56,1,170,72.0,120,80,2,1,0,0,1,0,1.70,24.913495

In [16]:
cardio.dtypes

Age                   int32
Gender               object
Height                int32
Weight              float64
Systolic             object
Diastolic            object
Cholesterol          object
Glucose              object
Smoking              object
Alchohol             object
Active               object
Cardio               object
Height in Meters    float64
BMI                 float64
dtype: object