In [1]:
from google.cloud import bigquery
import pandas as pd 
import numpy as np 
import seaborn as sns 
import matplotlib.pyplot as pyplot

import warnings 
warnings.filterwarnings("ignore", category=FutureWarning)

In [2]:
client = bigquery.Client()

In [3]:
data_ref = client.dataset("Cardio", project="learnbigquerry")
dataset = client.get_dataset(data_ref)
table = dataset.table("Cardio_train")

In [4]:
query = """
SELECT * 
FROM learnbigquerry.Cardio.Cardio_train
 """

query_job = client.query(query)
results = query_job.to_dataframe()

results.to_csv("Cardio.csv", index=False)

In [5]:
df  = pd.read_csv("Cardio.csv", delimiter=";")
# this drops the stringfield on top after extracting the data from datbase
df.drop("string_field_0", axis=1, inplace=True)

C:\Users\USER\AppData\Local\Temp\ipykernel_14748\1691493706.py:1: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df  = pd.read_csv("Cardio.csv", delimiter=";")

In [6]:

dfo = df
dfo.to_csv("Nc.csv", index=True, encoding='utf-8')

In [7]:
columns_names = ["Id", "Age", "Gender", "Height", "Weight", "Systolic", "Diastolic",
                  "Cholesterol", "Glucose", "Smoking", "Alchohol", "Active" ]
cardio = pd.read_csv("Nc.csv", names=columns_names)

C:\Users\USER\AppData\Local\Temp\ipykernel_14748\4109791856.py:3: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  cardio = pd.read_csv("Nc.csv", names=columns_names)

In [8]:
cardio = cardio.drop([0, 1], axis=0)

In [9]:
cardio = cardio.set_index("Id")
cardio

,Age,Gender,Height,Weight,Systolic,Diastolic,Cholesterol,Glucose,Smoking,Alchohol,Active
Id,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1
1,20228,1,156,85.0,140,90,3,1,0,0,1
2,18857,1,165,64.0,130,70,3,1,0,0,0
3,17623,2,169,82.0,150,100,1,1,0,0,1
4,17474,1,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
99993,19240,2,168,76.0,120,80,1,1,1,0,1
99995,22601,1,158,126.0,140,90,2,2,0,0,1
99996,19066,2,183,105.0,180,90,3,1,0,1,0
99998,22431,1,163,72.0,135,80,1,2,0,0,0
99999,20540,1,170,72.0,120,80,2,1,0,0,1

In [10]:
# to convert Age in days to years
cardio["Age"]= cardio["Age"].astype(float)
cardio["Age"] = cardio["Age"]/365.25
cardio["Age"] = cardio.Age.round().astype(int)

In [11]:
cardio["Height"] = cardio["Height"].astype(int)
cardio["Height in Meters"] = cardio["Height"] / 100

In [14]:
cardio.dtypes

Age                   int32
Gender               object
Height                int32
Weight               object
Systolic             object
Diastolic            object
Cholesterol          object
Glucose              object
Smoking              object
Alchohol             object
Active               object
Height in Meters    float64
dtype: object